.filterBarContainer {
	display: flex;
}
.filterBarContainer .label {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.875rem;
	font-weight: bold;
}
.filters {
	flex: 1;
	display: flex;
}
.filterBtnsContainer {
	display: flex;
	margin-left: 0.75rem;
	background-color: #dadada;
	border: 1px solid #bdbdbd;
	border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	-ms-border-radius: 0.25rem;
	-o-border-radius: 0.25rem;
}
.filterBtn {
	padding: 0;
	width: 6.1875rem;
	height: 2.0625rem;
	font-size: 0.75rem !important;
	font-weight: 600;
	background-color: #dadada;
	border: none;
	border-right: 1px solid #bdbdbd;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}
.filterBtnActive {
	background-color: #009c38 !important;
	color: #fff;
	border: none;
}
.filterBtn:last-child {
	border-right: none;
}
