.topSection {
	height: 428px;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
}
.heroSection {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 1.25rem 0 1.25rem;
	text-align: center;
}
.heroHeading {
	font-size: 2.25rem;
	font-weight: bold;
}
.subHeading {
	margin-top: 1.0625rem;
	font-size: 1.125rem;
	font-weight: lighter;
}
.heroBtnContainer {
	margin-top: 3.375rem;
}
.getStartedBtn {
	background-color: #009c38 !important;
	color: #fff !important;
	border: 1px solid #fff !important;
	font-size: 1rem !important;
	padding: 0.6875rem 1.75rem 0.875rem 1.75rem !important;
}

@media screen and (max-width: 728px) {
	.heroHeading {
		font-size: 1.5rem;
		font-weight: bold;
	}
	.subHeading {
		font-size: 0.95rem;
	}
	.getStartedBtn {
		font-size: 0.9rem !important;
		padding: 5.5px 14px 7px 14px !important;
	}
}

@media screen and (max-width: 499px) {
	.heroHeading {
		font-size: 1.2rem;
		font-weight: bold;
	}
	.subHeading {
		font-size: 0.92rem;
	}
}
