.menuIconBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	background: transparent;
}
.menuIconBtn i {
	display: flex;
	justify-content: center;
	align-items: center;
}
