@font-face {
	font-family: Avenir;
	src: url(./assets/fonts/Avenir.ttc);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Avenir', sans-serif;
}
#root {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
}
