.tutorsSection {
	margin: 4.375rem auto 0 auto;
	max-width: 1160px;
	overflow-x: hidden;
}
.mainHeading {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 0.9375rem;
}
.subHeading {
	font-size: 1.125rem;
	font-weight: lighter;
	text-align: center;
}
.filterSortFlex {
	margin-top: 4.625rem;
	display: flex;
	align-items: flex-start;
	height: 4.125rem;
	position: relative;
	user-select: none;
}
.filterSortFlex:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 99.9%;
	border: 1px solid #e0e0e0;
}
.sortBarContainer {
	margin-left: 2.5625rem;
}
.tutorsCardSection {
	margin-top: 1.875rem;
	display: flex;
	flex-wrap: wrap;
}
.tutorsCardSection .mr40:nth-child(4n + 0) {
	margin-right: 0;
}
.seeMoreContainer {
	margin-top: 40px;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
}
.seeMoreBtn {
	height: 44px;
	width: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #dadada !important;
	font-size: 1rem;
	border: none !important;
}
.mr40 {
	margin-right: 40px;
}
.mb30 {
	margin-bottom: 30px;
}
.loading {
	margin: 2rem 0 2rem 0;
	text-align: center;
}

@media screen and (max-width: 1279px) {
	.tutorsCardSection .mr40:nth-child(4n + 0) {
		margin-right: 40px;
	}
}

@media screen and (max-width: 1205px) {
	.tutorsSection {
		max-width: 90%;
	}
}

@media screen and (max-width: 728px) {
	.mainHeading {
		font-size: 1.4rem;
	}
	.subHeading {
		font-size: 0.95rem;
	}
}

@media screen and (max-width: 577px) {
	.tutorsCardSection .mr40 {
		margin-right: 0;
	}
}

@media screen and (max-width: 999px) {
	.tutorsCardSection {
		justify-content: center;
	}
}

@media screen and (max-width: 955px) {
	.tutorsCardSection .mr40:nth-child(2n + 0) {
		margin-right: 0px;
	}
}

@media screen and (max-width: 746px) {
	.filterSortFlex {
		flex-direction: column;
	}
	.filterSortFlex:after {
		display: none;
	}
	.filterBarContainer,
	.sortBarContainer {
		margin-left: 0;
		width: 100%;
	}
	.sortBarContainer {
		margin-top: 0.7rem;
	}
}

@media screen and (min-width: 1579px) {
	.tutorsCardSection .mr40:nth-child(4n + 0) {
		margin-right: 40px;
	}
}
