.tutorsSection {
	margin: 4.375rem auto 0 auto;
	width: 1160px;
}
.mainHeading {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 0.9375rem;
}
.subHeading {
	font-size: 1.125rem;
	font-weight: lighter;
	text-align: center;
}
.filterSortFlex {
	margin-top: 4.625rem;
	display: flex;
	align-items: flex-start;
	height: 4.125rem;
	position: relative;
	user-select: none;
}
.filterSortFlex:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 99.9%;
	border: 1px solid #e0e0e0;
}
.sortBarContainer {
	margin-left: 2.5625rem;
}
.tutorsCardSection {
	margin-top: 1.875rem;
	display: flex;
	flex-wrap: wrap;
}
.tutorsCardSection .mr40:nth-child(4n + 0) {
	margin-right: 0;
}
.seeMoreContainer {
	margin-top: 40px;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
}
.seeMoreBtn {
	height: 44px;
	width: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #dadada !important;
	font-size: 1rem;
	border: none !important;
}
.mr40 {
	margin-right: 40px;
}
.mb30 {
	margin-bottom: 30px;
}

@media screen and (max-width: 1279px) {
	.tutorsCardSection .mr40:nth-child(4n + 0) {
		margin-right: 40px;
	}
}

@media screen and (min-width: 1579px) {
	.tutorsCardSection .mr40:nth-child(4n + 0) {
		margin-right: 40px;
	}
}
