.tutorsSection {
	margin: 4.375rem 3.75rem 0 3.75rem;
}
.mainHeading {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 0.9375rem;
}
.subHeading {
	font-size: 1.125rem;
	font-weight: lighter;
	text-align: center;
}
.filterSortFlex {
	margin-top: 4.625rem;
	display: flex;
}
.sortBarContainer {
	margin-left: 41px;
}
